---
title: 'Basic HTML, CSS, JS dengan svelte'
thumbnail: '/svelte.png'
description: 'Membuat aplikasi web dengan dasar html, css dan js menggunakan SvelteKit'
author: 'Hans'
published_at: '2023-02-14 01:11:00'
updated_at: '2023-02-14 19:18:23'
published: true
---

<script>
    import Filename from '$lib/components/filename.svelte';
</script>

> Sebelum melanjutkan, pastikan kamu sudah mempelajari [Mempersiapkan Environment Scalable NodeJS Project. (Basic)](/dash/learn/posts/dasar-node-js)

# Basic HTML, CSS, JS dengan svelte

Ada berbagai cara untuk membuat aplikasi antarmuka, khusus nya antarmuka web. Seperti menggunakan **Flutter**, **C**, **C#**, **Java**, **Rust**, dll.
Namun **terlalu banyak pilihan** membuat programmer pemula bingung untuk memilih mana yang harus dipelajari.
Oleh karena itu, kita akan mempelajari dasar-dasar HTML, CSS dan JS untuk membuat aplikasi antarmuka.

### Mengapa HTML, CSS dan JavaScript?

Tidak hanya aplikasi **web**, namun aplikasi antarmuka **desktop** dan **mobile** juga bisa dibuat dengan **HTML**, **CSS** dan **JS**.

### Apa itu HTML?

HTML adalah singkatan dari **HyperText Markup Language**. HTML adalah bahasa yang digunakan untuk membuat halaman web. HTML berfungsi untuk menentukan struktur halaman web, seperti judul, paragraf, gambar, dan lain-lain.

#### Bagaimana cara menulis proyek html?

1. Buatlah sebuah folder misal dengan nama `belajar-html`
2. Buatlah sebuah file dengan nama `index.html` di dalam folder `belajar-html`
3. Buka file `index.html` dengan text editor, misalnya **Visual Studio Code**
4. Tuliskan kode berikut di dalam file `index.html`

<Filename logo="https://upload.wikimedia.org/wikipedia/commons/f/f9/Windows_Terminal_Logo.png?20190622111111" name="index.html" />

```html
<!DOCTYPE html>
<html>

  <head>
    <title>Belajar HTML</title>
  </head>

  <body>
    <h1>Belajar HTML</h1>
    <p>Belajar HTML adalah hal yang menyenangkan.</p>
  </body>

</html>
```

5. Simpan file `index.html`
6. Buka file `index.html` dengan browser, misalnya **Google Chrome**.

> note: materi belum final, masih dalam penulisan ... 🙏🏻